<?xml version="1.0"?>
<config>
    <modules>
        <MagedIn_Observers>
            <version>0.1.0</version>
        </MagedIn_Observers>
    </modules>
    <global>
        <models>
            <magedin_observers>
                <class>MagedIn_Observers_Model</class>
            </magedin_observers>
        </models>
    </global>
    <frontend>
        <routers>
            <magedin_observers>
                <use>standard</use>
                <args>
                    <module>MagedIn_Observers</module>
                    <frontName>observers</frontName>
                </args>
            </magedin_observers>
        </routers>
    </frontend>
</config>
