<?xml version="1.0"?>
<config>
    <modules>
        <MagedIn_Observers>
            <version>0.1.0</version>
        </MagedIn_Observers>
    </modules>
    <global>
        <models>
            <magedin_observers>
                <class>MagedIn_Observers_Model</class>
            </magedin_observers>
        </models>
    </global>
    <frontend>
        <routers>
            <magedin_observers>
                <use>standard</use>
                <args>
                    <module>MagedIn_Observers</module>
                    <frontName>observers</frontName>
                </args>
            </magedin_observers>
        </routers>
        <events>
            <magedin_observers_instantiate_new_product>
                <observers>
                    <magedin_observers_change_product_and_customer_models>
                        <type>singleton</type>
                        <class>magedin_observers/observer</class>
                        <method>changeProductAndCustomerModels</method>
                    </magedin_observers_change_product_and_customer_models>
                </observers>
            </magedin_observers_instantiate_new_product>
        </events>
    </frontend>
</config>
