<?xml version="1.0"?>
<config>
    <modules>
        <MagedIn_DescribingMage>
            <version>0.1.0</version>
        </MagedIn_DescribingMage>
    </modules>
    <global>
        <models>
            <magedin_describingmage>
                <class>MagedIn_DescribingMage_Model</class>
                <resourceModel>magedin_describingmage_resource</resourceModel>
            </magedin_describingmage>
            <magedin_describingmage_resource>
                <class>MagedIn_DescribingMage_Model_Resource</class>
            </magedin_describingmage_resource>
        </models>
    </global>
    <frontend>
        <routers>
            <magedin_describingmage>
                <use>standard</use>
                <args>
                    <module>MagedIn_DescribingMage</module>
                    <frontName>mageClass</frontName>
                </args>
            </magedin_describingmage>
        </routers>
        <events>
            <controller_action_postdispatch_magedin_describingmage_index_registry>
                <observers>
                    <magedin_describingmage>
                        <class>magedin_describingmage/observer</class>
                        <method>getRandValue</method>
                    </magedin_describingmage>
                </observers>
            </controller_action_postdispatch_magedin_describingmage_index_registry>
        </events>
    </frontend>
    <default>
        <magedin_describingmage>
            <settings>
                <active>1</active>
                <serial_key>123qwerty456</serial_key>
            </settings>
        </magedin_describingmage>
    </default>
</config>
