<?xml version="1.0"?>
<config>
    <modules>
        <MagedIn_Affiliates>
            <version>0.1.0</version>
        </MagedIn_Affiliates>
    </modules>
    <global>
        <models>
            <magedin_affiliates>
                <class>MagedIn_Affiliates_Model</class>
                <resourceModel>magedin_affiliates_resource</resourceModel>
            </magedin_affiliates>
            <magedin_affiliates_resource>
                <class>MagedIn_Affiliates_Model_Resource</class>
                <entities>
                    <entity>
                        <table>magedin_affiliates_entity</table>
                    </entity>
                    <order>
                        <table>magedin_affiliates_order</table>
                    </order>
                    <history>
                        <table>magedin_affiliates_history</table>
                    </history>
                    <balance>
                        <table>magedin_affiliates_balance</table>
                    </balance>
                </entities>
            </magedin_affiliates_resource>
        </models>
        <resources>
            <magedin_affiliates_setup>
                <setup>
                    <module>MagedIn_Affiliates</module>
                    <class>MagedIn_Affiliates_Model_Resource_Setup</class>
                </setup>
            </magedin_affiliates_setup>
        </resources>
        <blocks>
            <magedin_affiliates>
                <class>MagedIn_Affiliates_Block</class>
            </magedin_affiliates>
        </blocks>
        <helpers>
            <magedin_affiliates>
                <class>MagedIn_Affiliates_Helper</class>
            </magedin_affiliates>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <magedin_affiliates>
                    <file>magedin/affiliates.xml</file>
                </magedin_affiliates>
            </updates>
        </layout>
        <translate>
            <modules>
                <magedin_affiliates>
                    <files>
                        <default>MagedIn/Affiliates.csv</default>
                    </files>
                </magedin_affiliates>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <magedin_affiliates>
                    <file>magedin/affiliates.xml</file>
                </magedin_affiliates>
            </updates>
        </layout>
        <translate>
            <modules>
                <magedin_affiliates>
                    <files>
                        <default>MagedIn/Affiliates.csv</default>
                    </files>
                </magedin_affiliates>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <magedin_affiliates>
            <calculation>
                <commission_calculation_base>2</commission_calculation_base>
            </calculation>
        </magedin_affiliates>
    </default>
</config>
