<?xml version="1.0"?>
<config>
    <modules>
        <MagedIn_Customer>
            <version>0.1.0</version>
        </MagedIn_Customer>
    </modules>
    <global>
        <models>
            <magedin_customer>
                <class>MagedIn_Customer_Model</class>
            </magedin_customer>
            <customer>
                <rewrite>
                    <customer>MagedIn_Customer_Model_Customer_Customer</customer>
                </rewrite>
            </customer>
        </models>
        <helpers>
            <magedin_customer>
                <class>MagedIn_Customer_Helper</class>
            </magedin_customer>
        </helpers>
    </global>
    <frontend>
        <routers>
            <magedin_customer>
                <use>standard</use>
                <args>
                    <module>MagedIn_Customer</module>
                    <frontName>customCustomer</frontName>
                </args>
            </magedin_customer>
            <magedin_rewrites>
                <args>
                    <modules>
                        <magedin_customer before="MagedIn_Rewrites">MagedIn_Customer_Rewrites</magedin_customer>
                    </modules>
                </args>
            </magedin_rewrites>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magedin_customer before="Mage_Adminhtml">MagedIn_Customer_Adminhtml</magedin_customer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
