<?xml version="1.0"?>
<config>
    <modules>
        <MagedIn_Blocks>
            <version>0.1.0</version>
        </MagedIn_Blocks>
    </modules>
    <global>
        <blocks>
            <magedin_blocks>
                <class>MagedIn_Blocks_Block</class>
            </magedin_blocks>
        </blocks>
    </global>
    <frontend>
        <routers>
            <magedin_blocks>
                <use>standard</use>
                <args>
                    <module>MagedIn_Blocks</module>
                    <frontName>blocks</frontName>
                </args>
            </magedin_blocks>
        </routers>
    </frontend>
</config>
